.rc-notification {
  position: fixed;
  z-index: 2000;
  min-width: 320px;
  max-width: 500px;
}

.rc-notification-notice {
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
  display: block;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}

.rc-notification-notice-close {
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  outline: none;
}


/* 动画 */
.rc-notification-fade-enter {
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.rc-notification-fade-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.rc-notification-fade-enter.rc-notification-fade-enter-active {
  animation-name: rcNotificationFadeIn;
  animation-play-state: running;
}

.rc-notification-fade-leave.rc-notification-fade-leave-active {
  animation-name: rcDialogFadeOut;
  animation-play-state: running;
}



@keyframes rcNotificationFadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rcDialogFadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
