.triangle-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 5px 5px 0 5px;
  display: inline-block;
  transition: all .15s linear;
}

/*淡入淡出动画*/
.slide-enter {
  opacity: 0;
}
.slide-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.slide-exit {
  opacity: 1;
}
.slide-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

/*放大缩小动画*/
@keyframes myScale {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

.beat-number-counter {
  animation: myScale .6s linear;
}
